<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Pagina Bodega</title>
</head>
<nav class="navbar navbar-dark bg-dark mb-4">
    <img src="https://www.bailac.cl/wp-content/uploads/2013/05/logo.png" alt="logoBailac">
    <a href="/" class="navbar-brand">RECIBIDOS EN BODEGA</a>
</nav>
<body>
    